<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Page.Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ url .Page.Slug }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/font.css" />
  </head>
  <body>
  {{template "sitemenu" .}}
